<h2><%= t("views.devise.registrations.edit.title", resource: resource.class.model_name.human) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t("views.devise.registrations.edit.waiting_confirmation", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <p><%= f.label :password %> <i><%= t("views.devise.registrations.edit.password_help") %></i></p>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
    <% if @minimum_password_length %>
      <p><em><%= t("views.devise.registrations.edit.minimum_password_length", count: @minimum_password_length) %></em></p>
    <% end %>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :current_password %> <i><%= t("views.devise.registrations.edit.current_password_help") %></i></p>
    <p><%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>

  <div class="actions">
    <%= f.submit t("views.common.update") %>
  </div>
<% end %>

<h3><%= t("views.devise.registrations.edit.cancel_account") %></h3>

<div><%= t("views.devise.registrations.edit.unhappy") %> <%= button_to t("views.devise.registrations.edit.cancel_account"), registration_path(resource_name), data: { confirm: t("views.devise.registrations.edit.confirm"), turbo_confirm: t("views.devise.registrations.edit.confirm") }, method: :delete %></div>

<%= link_to t("views.devise.registrations.edit.back"), :back %>
