<p><%= t("views.devise.mailer.reset_password_instructions.greeting", email: @resource.email) %></p>

<p><%= t("views.devise.mailer.reset_password_instructions.instruction") %></p>

<p><%= link_to t("views.devise.mailer.reset_password_instructions.action"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("views.devise.mailer.reset_password_instructions.ignore") %></p>
<p><%= t("views.devise.mailer.reset_password_instructions.note") %></p>
